.float-button{
  display: flex;
  height: 64px;
  width: 64px;
  max-height: 64px;
  max-width: 64px;
  min-height: 64px;
  min-width: 64px;
  position: fixed;
  right: 32px;
  bottom: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  //background-color: mediumseagreen;
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 1px 1px 8px 4px rgba(0,0,0,0.33);

  &:hover{
    opacity: 1;
  }
}