.main-page{
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 12px 12px rgba(0,0,0,0.12);

    .main-header{
      display: flex;
      min-height: 64px;
      width: 100%;
      box-sizing: border-box;
      background-color: white;
      justify-content: space-between;
      align-items: center;
      padding: 0 32px;
      top: 0;
      left: 0;
      right: 0;
      box-shadow: 0 4px 12px 4px rgba(0,0,0,0.12);
      border-bottom: 1px solid rgba(0,0,0,0.12);

      .search-field{
        display: flex;
        min-width: 30%;
        @media(max-width: 1400px){
          min-width: 30%;
        }
        @media(max-width: 1200px){
          min-width: 40%;
        }
        @media(max-width: 992px){
          min-width: 40%;
        }
        @media(max-width: 768px){
          min-width: 50%;
        }
        @media(max-width: 576px){
          min-width: 60%;
        }
      }

      @media(max-width: 1400px){
        padding: 0 32px;
      }
      @media(max-width: 1200px){
        padding: 0 32px;
      }
      @media(max-width: 992px){
        padding: 0 24px;
      }
      @media(max-width: 768px){
        padding: 0 20px;
      }
      @media(max-width: 576px){
        padding: 0 16px;
      }

      .user-name-label{
        display: flex;
        font-weight: bold;
        margin-right: 8px;
      }

      .button{
        display: flex;
        height: 28px;
        justify-content: center;
        align-items: center;
        border-radius: 2px;
        border: none;
        background-color: #882222;
        color: white;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.14);
        cursor: pointer;
        transition: all 0.25s ease-in-out;

        &:hover{
          background-color: #aa2222;
        }

      }

    }

    .main-content{
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      flex: 1;

      .modules-area{
        display: flex;
        flex: 1;
        flex-direction: column;


      }

      .main-footer{
        display: flex;
        min-height: 64px;
        justify-content: flex-end;
        align-items: center;
        bottom: 0;
        background-color: white;
        box-shadow: 0 -4px 12px 4px rgba(0,0,0,0.12);
        border-top: 1px solid rgba(0,0,0,0.12);

        @media(max-width: 1400px){
          padding: 0 32px;
        }
        @media(max-width: 1200px){
          padding: 0 32px;
        }
        @media(max-width: 992px){
          padding: 0 24px;
        }
        @media(max-width: 768px){
          padding: 0 20px;
        }
        @media(max-width: 576px){
          padding: 0 16px;
        }
      }
    }

}