.main-header{
  background: linear-gradient(#cccccc, #ffffff);
  box-shadow: 0 4px 12px 4px rgba(0,0,0,0.12);

  .container{

    .upper-header{
      display: flex;
      height: 48px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;
      box-sizing: border-box;

      .user-name-label{
        display: flex;
        font-size: 20px;
      }
      .exit-button-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &>a{
          text-decoration: none;
        }
        .button{
          display: flex;
          height: 32px;
          padding: 8px;
          justify-content: center;
          align-items: center;
          border: none;
          background-color: darkred;
          color: white;
          border-radius: 3px;
          cursor: pointer;
        }
      }

    }

    .lower-header{
      display: flex;
      height: 64px;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0 32px 0;
      box-sizing: border-box;

      .logo-wrapper{
        font-family: 'Lobster', cursive;
        font-size: 32px;
        cursor: pointer;
      }

      .search-field{
        display: flex;
        width: 35%;
      }
    }
  }



  @media(max-width: 1200px){
    padding: 0 32px;
  }
  @media(max-width: 992px){
    padding: 0 24px;
  }
  @media(max-width: 768px){
    padding: 0 20px;
  }
  @media(max-width: 576px){
    padding: 0 16px;
  }
}