.App{
  display: flex;
  background-color: #ccc;
  height: 100vh;
//
//  .main-area{
//    display: flex;
//    width: 100%;
//    flex-direction: column;
//    position: relative;
//    overflow-y: hidden;
//    top: 0;
//
//    .main-header{
//      display: flex;
//      box-sizing: border-box;
//      background-color: white;
//      justify-content: space-between;
//      align-items: center;
//      top: 0;
//      left: 0;
//      right: 0;
//      box-shadow: 0 4px 12px 4px rgba(0,0,0,0.12);
//      border-bottom: 1px solid rgba(0,0,0,0.12);
//
//      .search-field{
//        display: flex;
//        width: 30%;
//      }
//
//      @media(max-width: 1200px){
//        padding: 0 32px;
//      }
//      @media(max-width: 992px){
//        padding: 0 24px;
//      }
//      @media(max-width: 768px){
//        padding: 0 20px;
//      }
//      @media(max-width: 576px){
//        padding: 0 16px;
//      }
//    }
//
//    .main-content{
//      display: flex;
//      flex-direction: column;
//      overflow-y: auto;
//
//      .modules-area{
//        display: flex;
//        flex: 1;
//        flex-direction: column;
//
//
//      }
//
//      .main-footer{
//        display: flex;
//        min-height: 64px;
//        justify-content: flex-end;
//        align-items: center;
//        bottom: 0;
//        background-color: white;
//        box-shadow: 0 -4px 12px 4px rgba(0,0,0,0.12);
//        border-top: 1px solid rgba(0,0,0,0.12);
//
//        @media(max-width: 1200px){
//          padding: 0 32px;
//        }
//        @media(max-width: 992px){
//          padding: 0 24px;
//        }
//        @media(max-width: 768px){
//          padding: 0 20px;
//        }
//        @media(max-width: 576px){
//          padding: 0 16px;
//        }
//      }
//    }
//
//  }
//
}
