*{
    margin:0; padding: 0;
}

.App{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ddd;
    flex-direction: column;
    overflow-y: auto;

    .header{
        display: flex;
        width: 100%;
        height: 48px;
        // top: 0;
        // position: fixed;
        background-color: #222;
        justify-content: flex-start;
        align-items: center;
        padding: 0 24px;
        box-sizing: border-box;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

    .document{
        display: flex;
        width: 100%;

        word-wrap: break-word;
        flex-direction: column;
        padding: 32px 32px;
        box-sizing: border-box;

        .text-bold{
            font-weight: bold;
        }

        .space{
            display: flex;
            height: 24px;
        }

        .paragraph{
            display: flex;
            box-sizing: border-box;
            padding-left: 24px;
            flex-direction: column;
        }

        .horizontal{
            display: flex;
        }

        .comment{
            display: flex;
            color: forestgreen;
            font-weight: bold;
            padding-left: 16px;
            box-sizing: border-box;
        }
    }

}


pre{
    background: #f8f7f2;
}